<div class="content" ng-controller="AnalysisController">
	<div class="contenedor">
		<div class="searchTittle">
			<h3>Analizador sentimental de textos</h3>
		</div>
		<form class="busqueda" name="busqueda" id="busqueda"
					ng-submit="buscar();" method="get">
			<div class="inputs" id="inputs">
				<div class="input">
					<textarea class="textarea" name="descripcion" form="form" ng-model="analisis.descripcion" placeholder="Escribe aquí el texto a analizar." ></textarea>
				</div>
			</div>
			<div class="submit">
				<input type="submit" value="Analizar" />
			</div>
		</form>
	</div>
	
	<div ng-if="cargando">
		<img src="images/cargando.gif" alt="cargando">
	</div>

	<div class="listaComentarios" ng-if="analisisBusqueda">
		<div class="listTittle">
			<h3>Resultados del análisis</h3>
		</div>
		<div>
			<h2>Resultado: {{analisisResultado.sentimiento}}</h2>
		</div>
	</div>
</div>
