<!DOCTYPE html>
<html lang="es" ng-app="restApp" ng-controller="AppOptionsController" ng-init="init()">
  <head>
    <meta charset="utf-8">
    <base href="/ServicioRest/">
    <link rel="icon" type="image.png" href="images/favicon.png">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC|Roboto" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
    <script src="js/Controllers/app.js"></script>
    <script src="js/Controllers/appOptions.js"></script>
    <script src="js/Controllers/home.js"></script>
    <script src="js/Controllers/theme.js"></script>
    <script src="js/Controllers/form.js"></script>
    <script src="js/Controllers/comments.js"></script>
    <script src="js/Controllers/search.js"></script>
    <script src="js/Controllers/comment.js"></script>
    <script src="js/Controllers/user.js"></script>
    <script src="js/Controllers/validate.js"></script>
    
    <script src="js/Controllers/login_register.js"></script>
    <script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <title ng-bind="title + ' &mdash; Repositorio'">Repositorio</title>
  </head>
  <body ng-app="restApp">
    <header id="header">
      <div class="titulo">
        <h1>REPOSITORIO</h1>
      </div>
      <nav id="nav">
        <a href="./">Inicio</a>
        <a href="temas">Temas</a>
        <a href="buscar">Búsqueda</a>
        
        <div ng-if="userLogin" class="user"><a href="usuario">{{email}}</a></div>
        <div ng-if="!userLogin" class="user">Bienvenido, invitad@.</div>
        <a href="login_register" ng-if="!userLogin">Login | Registro</a>
        <a ng-if="userLogin" ng-click="logout();" href="#">Cerrar sesión</a>
      </nav>
    </header>
    <section class="main" ng-view>

    </section>
    <footer>
		<div class="top">
			<div class="enlaces">
				<div class="titulo">
					<h4>Enlaces del sitio</h4>
				</div>
        		<a href="mailto:diego.valera@um.es">Contacto</a>
			</div>
		</div>
		<div class="bottom">
			<p>Todos los derechos reservados.</p>
		</div>
    </footer>
  </body>
</html>
