<div class="content" ng-controller='CommentsController' ng-if="status == '200'">
	<div class="cabecera">
		<div class="titulo">
			<h1>{{listado.nombre}}</h1>
		</div>
		<div class="descripcion">
			<p>{{listado.descripcion}}</p>
		</div>
	</div>
	<div class="listaComentarios">
		<div class="comentario" ng-repeat='c in listado.lista'>
			<div class="imagen">
				<div class= "img" style="background-image: url({{c.imagen}})"></div>
			</div>
			<div class="info">
				<div class="header">
					<div class="autor">
						<h2>{{c.autor}}</h2>
					</div>
					<div class="fecha">
						<h2>{{c.fecha}}</h2>
					</div>
				</div>
				<div class="texto">
					<p>{{c.texto}}</p>
				</div>
				<div class="enlace">
					<a href="{{c.uri}}">Ver más</a>
				</div>
			</div>

			<div>
				<h2>Análisis sentimental: {{c.sentimiento}}</h2>
			</div>

		</div>
	</div>
</div>
<div class="error" ng-controller='CommentController' ng-if="status == '404'">
	<div class="tituloError">
		<h2>Ha ocurrido un error</h2>
	</div>
	<div class="descripcion">
		<p>No se ha encontrado el tema solicitado.<br>
			Este error puede deberse a un fallo del servidor.<br>
			Por favor, pruebe más tarde.</p>
	</div>
</div>
