<div class="content" ng-controller='CommentsController' ng-if="status == '200'">
	<div class="cabecera">
		<div class="titulo">
			<h1>{{listado.nombre}}</h1>
		</div>
		<div class="descripcion" ng-if="{{listado.descripcion != ''}}">
			<p>{{listado.descripcion}}</p>
		</div>
		<div class="descripcion">
			<p><b>Filtrar por sentimientos</b></p>
			<div class = container ng-click="filterSentiment(1)" >
				<img id="imgSentimentMuyNegativo" src="images/sentiments/MUY_NEGATIVO.png" alt="MuyNegativo">
				<div class="overlay">
				 	<div class="text">Muy negativo</div>
				 </div>
			</div>
			<div class = container ng-click="filterSentiment(2)" >
			<img id="imgSentimentNegativo" src="images/sentiments/NEGATIVO.png" alt="Negativo">
				<div class="overlay">
				 	<div class="text">Negativo</div>
				 </div>
			</div>
			<div class = container ng-click="filterSentiment(3)" >
			<img id="imgSentimentNeutral" src="images/sentiments/NEUTRAL.png" alt="Neutral">
				<div class="overlay">
				 	<div class="text">Neutral</div>
				 </div>
			</div>
			<div class = container ng-click="filterSentiment(4)">
			<img id="imgSentimentPositivo" src="images/sentiments/POSITIVO.png" alt="Positivo">
				<div class="overlay">
				 	<div class="text">Positivo</div>
				 </div>
			</div>
			<div class = container ng-click="filterSentiment(5)">
			<img id="imgSentimentMuyPositivo" src="images/sentiments/MUY_POSITIVO.png" alt="MuyPositivo">
			<div class="overlay">
				<div class="text">Muy positivo</div>
			</div>
			</div>
		</div>
	</div>
	<div class="listaComentarios">
		<div class="comentario" ng-repeat='c in listado.lista'>
			<div class="imagen">
				<div class= "img" style="background-image: url({{c.imagen}})"></div>
			</div>
			<div class="info">
				<div class="header">
					<div class="autor">
						<div class="h2">
						{{c.autor}}  |
						
							<div style="display: inline;">
								<img src="images/{{c.redSocial}}.png" alt="RedSocial">
							</div>
						</div>
					</div>
					<div class="fecha">
						<h2>{{c.fecha}}</h2>
					</div>
				</div>
				<div class="texto">
					<p>{{c.texto}}</p>
				</div>
				<div class="enlace">
					<a href="{{c.uri}}">Ver más</a>
				</div>
			</div>

			<div class="h2">
				{{c.sentimiento}}
				<img src="images/sentiments/{{c.sentimiento}}.png" alt="Sentimiento">
			</div>

		</div>
	</div>
</div>
<div class="error" ng-controller='CommentController' ng-if="status == '404'">
	<div class="tituloError">
		<h2>Ha ocurrido un error</h2>
	</div>
	<div class="descripcion">
		<p>No se ha encontrado el tema solicitado.<br>
			Este error puede deberse a un fallo del servidor.<br>
			Por favor, pruebe más tarde.</p>
	</div>
</div>
