<div class="content" ng-controller='Login_registerController' >
	<div class="contenedor">
		<form class="formulario" name="formTemas" id="form" ng-submit="login_register();" method="post">
			<div class="inputs">
				<div class="input">
					<input type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" oninvalid="setCustomValidity('Escriba el correo correctamente')" 
							oninput="setCustomValidity('')" name="email" placeholder="Email" required ng-model="usuario.email" />
				</div>
				<div class="input">
					<input type="password" pattern=".{3,}" oninvalid="setCustomValidity('La contraseña debe tener al menos 3 caracteres')" 
							oninput="setCustomValidity('')" name="password" placeholder="Contraseña" form="form" required ng-model="usuario.password" />
				</div>
				
				<input type="submit" name="login" value="Login" />
				<input type="submit" name="register" value="Registro" ng-click="register=true" />
			</div>
			
		</form>
	</div>
</div>